/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto; /* Centers the container */
  overflow: hidden; /* Clears the float */
  padding: 20px;
}

.float-left-image {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.text-content {
  float: right;
  text-align: justify;
  line-height: 1.6;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
